body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular Std Book', sans-serif;
    background-color: black;
    color: white;
    scrollbar-gutter: stable both-edges;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

a, a:visited {
    color: white;
}


@font-face {
    font-family: "Circular Std Bold";
    src: url('CircularStd-Bold.otf') format("opentype");   
}


@font-face {
    font-family: "Circular Std Book";
    src: url('CircularStd-Book.otf') format("opentype");   
}

@font-face {
    font-family: 'Circular Std Light';
    src: url('Circular/CircularStd-Light.otf');
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    overflow: overlay;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
    overflow: overlay;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 3px solid gray;
    overflow: overlay;
} 

.nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 50px;
    z-index: 1;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
    width: 32px;
}

.logo__text {
    color: white;
    padding-left: 13px;
    padding-top: 5px;
    font-size: 21px;
    font-family: 'Circular Std Bold', sans-serif;
}

.search__container {
    width: 50%;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.search {
    color: white;
    border: none;
    background-color: black;
    caret-color: white;
    flex: 1;
}

.search, select {
    font-size: 17.5px;
    letter-spacing: .3px;
    padding-left: 10px;
}

.search:focus {
    color: white;
    outline: none;
}

.search::placeholder {
    color: #7f7f7f;
    font-size: 16px;
    font-family: 'Circular Std Book', sans-serif;
}

.nav__bars {
    display: none;
}

.dummycontainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.dummysection {
    width: 700px;
    background-color: white;
    color: black;
    z-index: 10;
    position: absolute;
}

.dummyhide {
    display: none;
}

.main {
    margin-top: 70px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    /* max-width: 70%; */
    max-width: 1000px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 30px;
}

.content__left {
    display: flex;
    flex-direction: column;
}


.filter__options {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    color: white;
    border-radius: 16px;
    padding: 17.5px;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 18px;
    /* overflow-x: scroll;
    scrollbar-width: none; */
}

.filter--c {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    padding-top: 8px;
    padding-left: 12px;
    border-radius: 30px;
    transition: 200ms ease-in-out;
}

.filter__top--c {
    padding-right: 8px;
    padding-left: 8px;
}

.filter--c:hover {
    background-color: black;
}

.filter__active {
    background-color: black;
}

.filter__icon {
    font-size: 14px;
    padding-right: 5px;
}

.filter__hot, 
.filter__new, 
.filter__rising, 
.filter__controversial {
    padding-right: 5px;
}

.post__container {
    margin-bottom: 100px;
    margin-top: 30px;
}

.post {
    background-color: #191919;
    color: white;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
    overflow: hidden;
}

.post__media__container {
    display: flex;
    justify-content: center;
	width: 100%;
	height: auto;
	max-height: 75vh;
}

.post__media__inner__container {
    position: relative;
	border-radius: inherit;
}

.post__media2 {
    max-width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: inherit;
	overflow: hidden;
	align-self: flex-start;
}

.selftext {
    max-height: 100vh !important;
}


.author {
    padding-bottom: 15px;
}

.stickied {
    color: green;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
}





.media {
    margin-bottom: 15px;
}

.upvotes {
    padding-right: 10px;
}

.stats-con {
    display: flex;
    font-size: 20px;
}

.comments__num {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.comments:visited, .comments:hover {
    color: white;
    text-decoration: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px) saturate(179%);
    background-color: rgba(29, 30, 31, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 2;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #191919;
    /* MAX WIDTH NOT WORKING  */
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    border-radius: 16px;
    /* padding: 30px 50px; */
    max-width: 100%;
    text-align: center;
    height: 95vh;
    overflow-y: auto;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}


.post__comments {
    background-color: #191919;
    color: white;
    padding: 25px;
}

.post__comments__header {
    display: flex;
    justify-content: space-between;
}

.post__comments__title {
    text-align: left;
    padding-top: 20px;
}

.post__media {
    padding-top: 20px;
    text-align: left;
}

.null1 {
    display: none;
}

.post__comments__info {
    display: flex;
    color: grey;
}

.post__comments__icon, .post__comments__subreddit {
    padding-right: 10px;
}
.comments_container {
    background-color: #191919;
    text-align: left;
    max-width: 100%;
    padding-left: 20px;
    overflow: hidden;
}

.comments {
    padding-bottom: 40px;
    font-size: 20px;
}

.comments__heading {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.comments__icon, .comments__author {
    padding-right: 10px;
}

.comments__text {
    padding-top: 10px;
}

.comments__body {
    color: white;
    font-size: 16px;
}

.md > p {
    color: white;
    font-size: 16px;
}

/* CONTENT RIGHT */

.subreddit__container {
    background-color: #191919;
    color: white;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
}

.about {
    background-color: #191919;
    color: white;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
}

.options {
    background-color: #191919;
    color: white;
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
}

.subreddit__title, .about__title, .options__title {
    font-size: 17.5px;
}

.about__title {
    padding-bottom: 10px;
}

.about__text {
    font-size: 15px;
    color: grey;
}

@media (max-width: 1100px) {
    .content__right {
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    } 

    .wrapper {
        display: block;
        max-width: 70%;
        margin: 0;
        padding: 0;
    }

    .modal {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .wrapper {
        max-width: 80%;
    }
}

@media (max-width: 700px) {
    .wrapper {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        max-width: 95%;
    }
}

.displaynone {
    display: none;
}
